version: '3.8'

networks:
  coolify:
    external: true

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - coolify
    labels:
      - traefik.enable=true
      - traefik.http.routers.sarkar-catch.rule=HostRegexp(`^.+\.1onlysarkar\.shop$$`)
      - traefik.http.routers.sarkar-catch.priority=1
      - traefik.http.routers.sarkar-catch.entrypoints=https
      - traefik.http.routers.sarkar-catch.tls=true
      - traefik.http.routers.sarkar-catch.tls.certresolver=letsencrypt
      - traefik.http.routers.sarkar-catch.service=sarkar-service
      - traefik.http.services.sarkar-service.loadbalancer.server.port=80
      
